
research/object_detection_app/mlb_dataset/dataset.record
research/object_detection_app/mlb_dataset/mlb_label_map.pbtxt
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/checkpoint
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/frozen_inference_graph.pb
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/model.ckpt.data-00000-of-00001
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/model.ckpt.index
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/model.ckpt.meta
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/pipeline.config
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/pipeline_ori.config
research/object_detection_app/pretrained/ssd_inception_v2_coco_2018_01_28/saved_model/saved_model.pb
research/object_detection_app/test_ckpt/ssd_inception_v2.pb
